/* HEADER */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    height: 50px;
    background-color: #0D0D0D;
    display: inline-block;
    width: 100%;
}

.nav-left {
    float: left;
    padding-top: 15px;
    padding-left: 30px;
}

.nav-left a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-right {
    float: right;
}

.nav-links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.nav-links li {
    float: left;
    padding-right: 30px;
    padding-top: 15px;
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* CONTACT INFO */

.contact-info {
    height: 650px;
    width: 100%;
    background-color: #93A2BF;
    color: #222C40;
}

.contact-info-inner {
    display: flex;
    width: 100%;
    min-width: 1500px;
    max-width: 2000px;
    margin: auto;
}

.contact-header {
    width: 50%;
    height: 100%;
    position: relative;
}

.contact-header h1 {
    font-size: 40px;
    width: 300px;
    position: absolute;
    left: 300px;
    top: 150px;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

.contact-content {
    width: 50%;
    height: 100%;
    position: relative;
}

.contact-content-inner {
    width: 600px;
    position: absolute;
    right: 250px;
    top: 150px;
}

.contact-content-inner h5 {
    font-size: 30px;
    padding-bottom: 5px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.contact-content-inner h6 {
    font-size: 26px;
    padding-bottom: 10px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.contact-content-inner p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

.contact-content-inner a {
    text-decoration: none;
    color: #222C40;
}

/* FOOTER */

.footer {
    text-align: center;
    background-color: #0D0D0D;
    color: white;
    height: 100px;
}

.footer h5 {
    padding-top: 25px;
    margin-block-end: 0;
    margin-block-start: 0;
}