/* 
#6F7BBF - Blue/Purple
#222C40 - Dark Blue
#93A2BF - Cyan
#E6F2BB - Green/Yellow
#0D0D0D - Black
*/

/* HEADER */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    height: 50px;
    background-color: #0D0D0D;
    display: inline-block;
    width: 100%;
}

.nav-left {
    float: left;
    padding-top: 15px;
    padding-left: 30px;
}

.nav-left a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.nav-right {
    float: right;
}

.nav-links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.nav-links li {
    float: left;
    padding-right: 30px;
    padding-top: 15px;
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.jumbotron {
    text-align: left;
    background-image: url("../images/space.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px;
    height: 400px;
    margin-bottom: 0px;
    position: relative;
    min-width: 1400px;
}

.pic-of-me {
    width: 450px;
    height: 600px;
    position: absolute;
    bottom: -350px;
    left: 15%;
}

.pic-of-me img {
    width: 100%;
    height: 100%;
}

.title {
    width: 450px;
    position: absolute;
    bottom: -155px;
    right: 15%;
    color: white;
}

.name {
    font-size: 60px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.res {
    font-size: 40px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
}

.links li {
    float: left;
    padding-right: 13px;
    padding-left: 2px;
}

.links img {
    width: 25px;
    height: 25px;
}

.links i {
    color: white;
}

.about-me {
    padding-top: 40px;
    color: #0D0D0D;
    line-height: 1.3;
    font-size: 18px;
}

.spacer {
    height: 500px;
}

/* CAREER DEVELOPMENT */

.career-development {
    height: 650px;
    width: 100%;
    background-color: #93A2BF;
    color: #222C40;
}

.career-development-inner {
    display: flex;
    width: 100%;
    min-width: 1500px;
    max-width: 2000px;
    margin: auto;
}

.career-header {
    width: 50%;
    height: 100%;
    position: relative;
}

.career-header h1 {
    font-size: 40px;
    width: 300px;
    position: absolute;
    left: 300px;
    top: 150px;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

.career-content {
    width: 50%;
    height: 100%;
    position: relative;
}

.career-content-inner {
    width: 600px;
    position: absolute;
    right: 250px;
    top: 150px;
}

.career-content-inner h5 {
    font-size: 30px;
    padding-bottom: 5px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.career-content-inner h6 {
    font-size: 26px;
    padding-bottom: 10px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.career-content-inner p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

.career-content-inner a {
    text-decoration: none;
    color: #222C40;
}

/* CERTIFICATIONS */

.certifications {
    height: 750px;
    width: 100%;
    /* background-color: #6F7BBF; */
    /* color: #222C40; */
    color: #6F7BBF;
}

.certifications-inner {
    display: flex;
    width: 100%;
    min-width: 1500px;
    max-width: 2000px;
    margin: auto;
}

.certifications-header {
    width: 50%;
    height: 100%;
    position: relative;
}

.certifications-header h1 {
    font-size: 40px;
    width: 300px;
    position: absolute;
    left: 300px;
    top: 150px;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

.certifications-content {
    width: 50%;
    height: 100%;
    position: relative;
}

.certifications-content-inner {
    width: 600px;
    position: absolute;
    right: 250px;
    top: 150px;
}

.certifications-images img {
    width: 125px;
    height: 125px;
    margin-right: 16px;
}

.certifications-content-inner h5 {
    font-size: 30px;
    padding-bottom: 5px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.certifications-content-inner h6 {
    font-size: 26px;
    padding-bottom: 10px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.certifications-content-inner p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.certifications-content-inner a {
    text-decoration: none;
    color: #222C40;
}

.certification-description p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

/* EDUCATION */

.education {
    height: 600px;
    width: 100%;
    background-color: #93A2BF;
    color: #222C40;
}

.education-inner {
    display: flex;
    width: 100%;
    min-width: 1500px;
    max-width: 2000px;
    margin: auto;
}

.education-header {
    width: 50%;
    height: 100%;
    position: relative;
}

.education-header h1 {
    font-size: 40px;
    width: 300px;
    position: absolute;
    left: 300px;
    top: 150px;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 0;
    margin-block-start: 0;
}

.education-content {
    width: 50%;
    height: 100%;
    position: relative;
}

.education-content-inner {
    width: 600px;
    position: absolute;
    right: 250px;
    top: 150px;
}

.education-place h5 {
    font-size: 30px;
    padding-bottom: 5px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.education-place h6 {
    font-size: 26px;
    padding-bottom: 10px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.education-description p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

/* FOOTER */

.footer {
    text-align: center;
    background-color: #0D0D0D;
    color: white;
    height: 100px;
}

.footer h5 {
    padding-top: 25px;
    margin-block-end: 0;
    margin-block-start: 0;
}