.jumbotron {
  text-align: center;
  background-image: url("../images/spaceship.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px;
  height: 100vh;
  margin-bottom: 0px
}

.title {
  color: white;
}

.title2 {
  color: white;
  opacity: 50%;
}

.navbar {
  border: 0px;
  background-color: #a1a1a1;
  position: fixed;
  top: 60px;
  right: 5%;
  width: 110px;
  z-index: 999;
}

.nav-butt {
  text-align: right;
  padding-right: 8px;
  padding-left: 4px;
}

.container {
  text-align: center;
  position: relative;
}

h1 {
  color: #312e49;
  margin-bottom: 64px;
}

h2 {
  color: #312e49;
}

h3 {
  color: #312e49;
}

h4,
h5,
h6 {
  color: #4c343a;
}

/* Profile */

.first {
  background-color: #e9d2bd;
  padding-bottom: 128px;
  padding-top: 64px;
}

.second {
  background-color: #f2ede5;
  padding-bottom: 128px;
  padding-top: 64px;
}

.third {
  background-color: #e9d2bd;
  padding-bottom: 128px;
  padding-top: 64px;
}

.fourth {
  background-color: #f2ede5;
  padding-bottom: 128px;
  padding-top: 64px;
}

.fifth {
  background-color: #e9d2bd;
  padding-bottom: 128px;
  padding-top: 64px;
}

.sixth {
  background-color: #f2ede5;
  padding-bottom: 128px;
  padding-top: 64px;
}

.seventh {
  background-color: #e9d2bd;
  padding-bottom: 128px;
  padding-top: 64px;
}

.profile,
.education,
.work,
.certification,
.skills-list {
  display: inline-block;
  vertical-align: top;
}

/* About me */

.about-container {
  min-width: 1200px;
}

.about-me {
  width: 38%;
  text-align: left;
}

.headshot {
  width: 20%;
  padding-top: 16px;
  margin: 16px;
  border-radius: 50%;
  background-color: #f2ede5;
}

.head {
  border-radius: 50%;
}

.details {
  width: 38%;
  text-align: left;
}

.place {
  width: 35%;
  text-align: left;
}

/* Education */
.description-education {
  width: 64%;
  text-align: left;
  margin-top: 0px;
}

.seahawk {
  height: 100px;
  width: 100px;
  border-radius: 25%
}

/* Career */
.description-work {
  width: 64%;
  text-align: left;
}

/* Certifications */
.certification {
  width: 45%;
  text-align: left;
}

.description-certification {
  width: 54%;
  text-align: left;
  padding-left: 32px;
}

.certification-images img {
  width: 125px;
  height: 125px;
  margin-right: 16px;
}

/* Skills */
.skills-container {
  width: 80%;
  text-align: center;
  position: relative;
  margin: 128px auto;
}

.skills-left {
  width: 33%;
}

.skills-middle {
  width: 33%;
}

.skills-right {
  width: 33%;
}

.skills-list {
  text-align: left;
}

.skills {
  font-size: 20px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-top: 8px;
  background-color: #312e49;
  color: #92b7b4;
}

/* Projects */

.bbt {
  width: 50%;
  margin: auto;
  padding: 32px 0;
}

.project-container {
  width: 80%;
  text-align: center;
  position: relative;
  margin: 128px auto;
}

.projectPic {
  display: inline-flex;
  width: 100%;
}

.pic {
  padding: 16px;
  width: 50%;
  margin: 0 auto;
}

.pic p {
  padding-top: 8px;
}

.gitpic {
  height: 32px;
  width: 32px;
}

.gitsite-left {
  padding-left: 32px;
}

.gitsite-right {
  padding-right: 32px;
}

.sitepic {
  border: #312e49;
  border-style: solid;
  height: 225px;
  width: 400px;
}

.javapython {
  width: 100%;
  display: inline-flex;
  padding-right: 16px;
  padding-bottom: 32px;
}

.titledate {
  display: inline-flex;
}

.title3 {
  width: 300px;
  text-align: left;
  padding-right: 8px;
}

.date {
  width: 225px;
}

.content {
  text-align: left;
  padding-left: 32px;
}

/* Contact Info */
.lbl {
  text-align: left;
}

.contact-sites {
  display: inline-flex;
}

.linker {
  padding: 40px;
}
.send {
  float: right;
}

.footer {
  padding: 16px;
}

a {
  color: #312e49
}

/* Globally */

/* Each state */

a:visited {
  text-decoration: none;
  color: #312e49;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: black
}

.vb {
  width: 90%;
}

.sql {
  width: 75%;
}

.js {
  width: 70%;
}

.node {
  width: 70%;
}

.express {
  width: 60%;
}

.css {
  width: 40%;
}

.html {
  width: 60%;
}

.python {
  width: 65%;
}

.java {
  width: 75%;
}

.vs {
  width: 90%;
}

.ssms {
  width: 85%;
}

.git {
  width: 90%;
}

.jira {
  width: 90%;
}

.pbi {
  width: 65%;
}

.ssrs {
  width: 60%;
}

.cr {
  width: 60%;
}

.ssis {
  width: 75%;
}

.ssas {
  width: 70%;
}

.oop {
  width: 90%;
}

.mvvm {
  width: 40%;
}

.kb {
  width: 85%;
}

.agile {
  width: 70%;
}

/* Footer */
.footer {
  text-align: center;
}